.teks-ucapan {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    align-items: center;
    margin-top: 250px;
};
.teks-ucapan-typed{
    color: #ffffff;
    text-align: center;
    padding: 20px;
    align-items: center;};
.div-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
};
.typed {
    color: #ffffff;
  }
  .typed-cursor{
     opacity: 1;
     animation: blink 0.7s infinite;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }